<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style>
    .text-small {
      font-size: 12px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="container-fluid">

  <h1 class="display-5 mb-3">
    <a href="/">Logs</a>{% if request.args.log_dir %}: {{ request.args.log_dir }}{% endif %}
  </h1>

  <h6 class="mb-3">
    Root Directory: <code>({{ root_dir }})</code>
  </h6>

  <div class="card mb-3">
    <div class="card-header"><code>summary</code></div>
    <div class="card-body p-0 table-responsive">
      <table class="table table-sm table-bordered mb-0">
        <tr>
          <th>#</th>
          <th>Name</th>
          {% for key in args_keys %}
          <th>{{ key }}</th>
          {% endfor %}
        </tr>
        {% for log_dir in log_dirs %}
        {% if request.args.log_dir == log_dir %}
        <tr class="table-active">
        {% else %}
        <tr>
        {% endif %}
          <td>{{ loop.index }}</td>
          {% if request.args.log_dir == log_dir %}
          <td>{{ log_dir }}</td>
          {% else %}
          <td><a href="{{ url_for(request.endpoint, log_dir=log_dir) }}">{{ log_dir }}</a></td>
          {% endif %}

          {% set args = args_data.get(log_dir, {}) %}
          {% for key in args_keys %}
          <td>{{ args.get(key, '') }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  {% if request.args.log_dir %}

  <script>
    function toggleDisplay(selector) {
      var element = $(selector);
      if (element.attr('style')) {
        element.show();
      } else {
        element.hide();
      }
    }
  </script>

  <div class="card mb-3" id='args-DOT-yaml'>
    <div class="card-header">
      <code>args.yaml</code>
      <button onclick="toggleDisplay('#args-DOT-yaml > .card-body');" class="btn btn-sm btn-secondary">Show / Hide</button>
    </div>
    <div class="card-body table-responsive p-0" style="display: none;">
      <table class="table table-sm table-bordered mb-0">
        {% set args = args_data[request.args.log_dir] %}
        {% for key, value in args.items() | sort %}
        <tr><th>{{ key }}</th><td>{{ value }}</td></tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="row">
    {% for figure in figures %}
    <div class="col-md-6">
      <div class="card mb-3" id="{{ figure.replace('.', '-DOT-') }}">
        <div class="card-header">
          <code>{{ figure }}</code>
          <button onclick="toggleDisplay('#{{ figure.replace('.', '-DOT-') }} > .card-body');" class="btn btn-sm btn-secondary">Show / Hide</button>
        </div>
        <div class="card-body" style="display: none;">
          <img src="{{ url_for('logs', log_dir=request.args.log_dir, filename=figure, timestamp=timestamp.strftime('%Y%m%d_%H%M%S')) }}" class="img-fluid" onerror="this.style.display='none'">
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endif %}

</div>

</html>
